USE [master]
GO
/****** Object:  Database [Pracfinal]    Script Date: 17/08/2023 12:47:09 ******/
CREATE DATABASE [Pracfinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pracfinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Pracfinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pracfinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Pracfinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pracfinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pracfinal]
GO
/****** Object:  Table [dbo].[gestor]    Script Date: 17/08/2023 12:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gestor](
	[idcliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](12) NOT NULL,
	[foto] [image] NULL,
 CONSTRAINT [PK_gestor] PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[gestor] ON 

INSERT [dbo].[gestor] ([idcliente], [nombre], [correo], [telefono], [foto]) VALUES (1, N'Joel', N'jj234@gmail.com', N'8294959395', NULL)
INSERT [dbo].[gestor] ([idcliente], [nombre], [correo], [telefono], [foto]) VALUES (2, N'Joel', N'js@gmail.com', N'8294939495', NULL)
INSERT [dbo].[gestor] ([idcliente], [nombre], [correo], [telefono], [foto]) VALUES (3, N'Rosa', N'2356@gmail.com', N'123458908', NULL)
SET IDENTITY_INSERT [dbo].[gestor] OFF
GO
USE [master]
GO
